{% extends 'dashboard/dashboard.html' %}

{% block tab %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
             <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
             </div>
        {% endfor %}
    {% endif %}
    <div class="modal fade" id="GroupModalCenter" tabindex="-1" role="dialog" aria-labelledby="GroupModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Создание рассылки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                      <form method="post" action="/dashboard/">
                          {% csrf_token %}
                          <div class="form-group">
                             <div class="form-group">
                                <label for="name">название</label>
                                {{ form.name }}
                             </div>
                              <div class="form-group">
                                <label for="text">текст сообщения</label>
                                {{ form.text }}
                             </div>
                              <div class="form-group">
                                  <label for="group">группа</label>
                                  {{ form.group }}
                             </div>
                              <div class="form-group">
                                  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                  {{ form.time }}
                                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                  </div>
                                  </div>
                             </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Создать</button>
                      </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#GroupModalCenter">
        создать рассылку
    </button>

    {% if notifications.count != 0  %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Группа</th>
                    <th scope="col">Дата отправки</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
        <tbody>
            {% for notification in notifications %}
                <tr>
                    <th scope="row">{{ notification.name }}</th>
                    <td><a href="/dashboard/group/{{  notification.group.id  }}">{{ notification.group.name }}</a></td>
                     <td>{{ notification.time| date:"d/m/Y h:m" }}</td>
                    <td>
                        <button class="btn btn-primary"><a href="/dashboard/group/{{ group.id }}">Просмотреть</a></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
    <script>
        $(function () {
            $("#datetimepicker1").datetimepicker({
              format: 'DD/MM/YYYY HH:mm',
            })
        });
    </script>
{% endblock %}%}